.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1.5em;
	padding: 1em;
}

.titulo_home {
	margin-top: 1em;
	font-weight: bold;
	font-size: 2em;
}

.subtitulo_home {
	color: grey;
}

.destaque_home {
	padding: 0.1em;
	background-color: #222;
}

.container img {
	width: 350px;
	margin: 2em 0;
}
