footer {
	background-color: #222;
	padding: 2em;
}

.destaque_footer,
.footer_list svg:hover {
	color: #ffbb33;
}

.paragrafo_footer {
	color: white;
	text-align: center;
}

.footer_list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_list li {
	margin: 1em;
	margin-bottom: 2em;
	list-style: none;
}

.footer_list svg {
	color: white;
	font-size: 1.2em;
}
